
#body {

}

#app {
  font-family: Avenir Next, Avenir, Helvetica, Sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  color: #7B7B82;
  font-weight: 400;
  line-height: 27px;
}

h1 {
  line-height: 1.6;
  margin-bottom: 20px;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

/* Base */

.bold {
  font-weight: 500;
}

.reemKufi {
  font-family: 'Reem Kufi';
}

/* Header */
.navbar-default {
  background-color: #fff;
  border-color: #fff;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navbar-brand {
  padding-left: 0px;
}

.navbar-nav>li>a {
  padding-right: 0px;
}

/* Pages */

.location {
  height: 380px;
  width: 100%;
  position: relative;
  background-position: center center;
  background-repeat: none;
  display: inline-block;
  vertical-align: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* -Home- */

.banner {
  padding-bottom: 100px;
}

.image_banner {
  width: 100%;
}

.banner_intro {
  color: #222;
  font-family: 'Reem Kufi';
  font-size: 50px;
  text-align: center;
}

.intro_img {
  max-height: inherit;
  max-width: inherit;
}

/* Cities */

.heading {
  text-align: center;
  color: #FFF;
  padding-top: 160px;
  font-family: 'Reem Kufi';
  font-size: 30px !important;
  font-weight: 400;
  text-decoration: none;
}

.Card {
  border: none !important;
}

a.city {
  color: #000;
  text-decoration: none;
}

/* Profile */

.profileCity {
  font-family: 'Reem Kufi';
  color: #7B7B82;
  margin-bottom: 0px;
}


/*
  Viewport
*/

@media (min-width: 350px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  /* .container {
      width: 1470px;
  }
  */
}




